#header{
    width: 100%;
    background-color: rgb(80, 79, 79);
    height: 100px;
}


#headerImg{
    float: left;
    margin-left: 10%;
    margin-right: 3%;
    margin-top: 15px;
}

.headerText{
    float: left;
    margin-right: 10%;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.493);
}

#text4{
    position: relative;
    top: 40px;
    color: rgba(255, 255, 255, 0.493);
}

#mainBigImg{
    position: relative;
    left: 22%;
}

#mainImg1{
    position: relative;
    left: 22%;
}

#mainImg2{
    position: relative;
    left: 23.5%;
}

#mainImg3{
    position: relative;
    left: 25%;
}

#mainLastImg{
    margin-left: 22%;
    
}

.div{
    margin-top: 2.5%;
}

#footer{
    width: 100%;
    background-color: rgb(80, 79, 79);
    height: 150px;
    margin-top: 2.5%;
}

#divText{
    position: relative;
    margin-top: 2.5%;
    margin-right: 19.75%;
    float: right;
}

#button{
    background-color: black;
    color: white;
    width: 40%;
    height: 45px;
}

#button:hover{
    transition: color 350ms;
}
